.blog-gallery {
  padding: 3rem;
}
.blog-gallery__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem 0.75rem;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}
.blog-gallery__title {
  /* font-family: var(--font-oswald); */
  /* color: var(--color-primary); */
}

.blog-gallery__grid {
  padding: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.blog-gallery__grid__card {
  perspective: 500rem;
  width: 100%;
  min-width: 0;
  border-radius: 1rem;
  position: relative;
}

.blog-gallery__grid__card:hover .blog-gallery__grid__card--front {
  transform: rotateY(180deg);
  z-index: 0;
}
.blog-gallery__grid__card:hover .blog-gallery__grid__card--back {
  transform: rotateY(0deg);
  /* display: block; */
  opacity: 1;
  z-index: 1;
}

.blog-gallery__grid__card--front,
.blog-gallery__grid__card--back {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  height: fit-content;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out 0.2s;
  overflow: hidden;
  /* border: 2px solid black; */
  border-radius: 1rem;
}

.blog-gallery__grid__card--front {
  transform: rotateY(0deg);
  z-index: 1;
}

.blog-gallery__grid__card--back {
  transform: rotateY(-180deg);
  opacity: 0;
  /* transform: rotateY(0deg); */
  background-color: rgb(255, 255, 255);
  background-image: repeating-linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(209, 209, 209, 0.5) 4rem),
    repeating-linear-gradient(to bottom left, rgba(255, 255, 255, 0.5), rgba(209, 209, 209, 0.5) 4rem); 
  z-index: 10;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 2rem;
  top: 0;
  left: 0;
}

.blog-gallery__grid__card__image-container {
  width: 100%;
  aspect-ratio: 1.5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: blueviolet;
  /* border-bottom: 0.5rem solid var(--color-primary); */
}

/* .blog-gallery__grid__card__image-container::before, .blog-gallery__grid__card__image-container::after  {
    
    
    /* width: 100%;
    aspect-ratio: 1.5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; *
} */

/* .blog-gallery__grid__card__image-container::before{
    content: " ";
    position: absolute;
    /* bottom: 0; *
    background-color: var(--color-primary);
    z-index: 5;
    width: 100%;
    height: 0.5rem;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
} */
.blog-gallery__grid__card__image {
  height: 100%;
  width: auto;
}

.blog-gallery__grid__card__content {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.blog-gallery__grid__card__title {
  font-size: 2.2rem;
  text-align: justify;
  width: 100%;
  text-transform: capitalize;
  font-family: var(--font-oswald);
  margin-bottom: 1rem;
  /* font-weight: bold; */
}
.blog-gallery__grid__card__desc {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.blog-gallery__grid__card__author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0rem;
}

.blog-gallery__grid__card__author__image-container {
  width: 12%;
  aspect-ratio: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 500rem;
}

.blog-gallery__grid__card__author__image {
  width: 100%;
}

.blog-gallery__grid__card__author__name {
  font-size: 1.4rem;
}

.blog-gallery__grid__card__category {
  width: fit-content;
  font-size: 1.6rem;
  padding: 0.7rem 2rem;
  border-radius: 50rem;
  background-color: aqua;
  margin: 1rem 0rem;
  text-transform: capitalize;
}

.blog-gallery__grid__card__meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  /* display: grid;
   grid-template-columns: 5fr 1fr 1fr;
   gap: 1rem;
   align-items: center; */
}

.blog-gallery__grid__card__metadata {
  font-size: 1.8rem;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 6fr 5fr;
  gap: 1rem;
  align-items: center;
}

.blog-gallery__grid__card__metadata span {
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
}
.blog-gallery__grid__card__metadata span:nth-child(1) {
  font-size: 2.3rem;
  line-height: 2.3rem;
}
.blog-gallery__grid__card__metadata span:nth-child(2) {
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
}
.blog-gallery__grid__card__metadata span:nth-child(3) {
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  text-align: right;
  direction: rtl;
}







@media screen and (max-width: 450px){
  .blog-gallery__grid {
    padding: 1rem;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}