.grid-container{
    width: 90%;
    margin: auto;
    /* min-height: 100cqh; */
    max-width: max(1100rem, 90%);
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.grid-container__left{
    width: 100%;
    height: 100cqh;
    position: sticky;
    top: 0;
}
.grid-container__right{
    width: 100%;
    min-height: 100cqh;
    /* background-color: aqua; */
    /* position: sticky; */
    /* top: 0; */
}


@media screen and (max-width: 768px){
    .grid-container {
      grid-template-columns: 1fr;
    }

    .grid-container__left{
        position: relative;
        height: fit-content;
    }
    .grid-container__right{
        width: 100%;
        min-height: fit-content;
    }
  }