.heading{
    font-family: $font-heading;
    text-transform: capitalize;

    &--1{
        font-size: 3.5rem;
        font-weight: 600;
    }
    &--2{
        font-size: 3rem;
        font-weight: 600;
    }
    &--3{
        font-size: 2.5rem;
        font-weight: 600;
    }
    &--4{
        font-size: 2.2rem;
        font-weight: 600;
    }
    &--5{
        font-size: 2rem;
        font-weight: 600;
    }
    &--5{
        font-size: 1.8rem;
        font-weight: 600;
    }
}