.wrapper{
    width: 100%;
    max-width: max(90rem, 75%);
    margin: auto;
}


.row{
    display: flex;
    flex-direction: row;
    
    &--center{
        justify-content: center;
        align-items: center;
    }

    &--center--x{
        justify-content: center;
    }
    &--center--y{
        justify-content: center;
    }
}