.task-card{
    border: 2px solid;
    // height: 20rem;


    &__safe{ 
        $color: rgb(21, 255, 0); //test
        // $color: rgb(255, 0, 0); // drop
        border: 2px solid $color; 
        background-image: linear-gradient(to right, $color 1rem, transparent 1rem);
        color: darken($color, 40); 
    }
    &__danger{ 
        // $color: rgb(21, 255, 0); //test
        $color: rgb(255, 0, 0); // drop
        border: 2px solid $color; 
        background-image: linear-gradient(to right, $color 1rem, transparent 1rem);
        color: darken($color, 40); 
    }
}