.auth-label {
  width: 80%;
  position: relative;
}
.auth-textbox {
  padding: 1.2rem 1.5rem;
  // border-radius: 0.3rem 0.3rem 0rem 0rem;
  background-color: rgba(white, 0.1);
  //   backdrop-filter: blur(5px);
  //   background-color: rgba($color-main, 0.3);
  color: white;

  &::placeholder {
    opacity: 0;
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem;
    text-transform: capitalize;
    transition: 0.2s ease-in-out;
    color: white;
    opacity: 0.6;
  }

  &:not(:placeholder-shown) ~ &__placeholder,
  &:focus ~ &__placeholder {
    top: -1rem;
    left: 0rem;
    transform: translateY(-50%);
    font-size: 1.3rem;
    opacity: 1;
    background-image: linear-gradient(
      to right,
      $color-main-light,
      $color-accent-light
    );
    font-weight: 500;
    letter-spacing: 1px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &__underline {
    width: 0%;
    height: 2px;
    // background-color: aqua;
    background-image: linear-gradient(
      to right,
      $color-main-light,
      $color-accent-light
    );
    transition: 0.2s ease-in-out;
  }

  &:not(:placeholder-shown) ~ &__underline,
  &:focus ~ &__underline {
    width: 100%;
  }
}
