.create-project{
    background-color: hsl(0, 0%, 85%);

    &__right{
        overflow-y: scroll;
    }
    &__heading{
        padding: 1rem;
        text-align: center;
        letter-spacing: 1px;
        position: relative;
        margin-bottom: 3rem;
        background-image: repeating-linear-gradient(45deg, $color-main-dark, $color-main 1rem);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        &::after{
            content: " ";
            position: absolute;
            left: 50%;
            bottom: -0.5rem;
            transform: translateX(-50%) skew(75deg);
            border: 2px solid;
            border-left: none;
            border-right: none;
            width: 50%;
            height: 0.2rem;
            border-image: repeating-linear-gradient(135deg, $color-main-dark, $color-main 2rem) 1;
        }
    }


    &__form{
        // width: 80%;
        max-width: max(50rem, 80%);
        margin: auto;
        padding: 2rem;
        gap: 3rem;
        // border: 2px solid;
        max-height: fit-content;
    }

    &__btn{
       width: 50%;
    }


    &__list{
        max-width: 100%;
        display: flex;
        // grid-template-columns: 100%;
        flex-direction: column;
        gap: 1rem;
        // height: 100%;
        padding: 1rem;
        // overflow-x: hidden;
        // overflow-y: scroll;
    }
}