.form{
    width: 100%;
    // min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &--auth{
        padding: 1rem;
        gap: 4rem;

        // justify-content: center;
    }


    &__heading{
        text-transform: capitalize;


        &--auth{
            color: white;
            font-size: 2.5rem;
            margin: 2rem 0rem 3rem;
            position: relative;
            width: 100%;
            text-align: center;


            &::before{
                content: " ";
                width: 50%;
                border: 1px dashed;
                position: absolute;
                // background-color: aliceblue;
                transform: translate(-50%);
                height: 0px;
                left: 50%;
                bottom: -1.5rem;
            }
        }
    }


    &__textbox{
        width: 100%;
        // padding: 1rem;
    }

    &__hline{
        width: 50%;
        border: 1px dashed white;
    }

    &__btn{
        width: 40%;
    }


    &__text{
        color: rgb(182, 182, 182);
        width: 80%;
    }

    &__link{
        color: $color-accent;

        &:hover{
            text-decoration: underline;
        }
    }
}